html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #2C2141;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #F8F8F8;
    border-radius: 16px;
    max-width: 624px;
    width: 100%;
    padding: 32px;
}

.person {
    display: flex;
    align-items: flex-start;
}
.person__photo {
    width: 148px;
    border-radius: 100%;
    margin-right: 32px;
}